html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

/* p {
  color: red;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

h1,
li {
  color: green;
}

#my-id {
  color: yellowgreen;
  font-size: 18px;
}

.my-class {
  color: pink;
}

.my-class2 {
  font-size: 25px;
}

img[src] {
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
}

a:hover {
  color: red;
} */
